pyTelegramBotAPI==4.21.0
python-dotenv==1.0.1
pymongo==4.8.0
transliterate==1.10.2
redis==5.0.7
toml==0.10.2
argparse==1.4.0
aiohttp==3.9.5
semver==3.0.2
git+https://github.com/HamletSargsyan/changelog-parser.git#egg=changelog-parser
